#version=RHEL8
# Use graphical install
graphical


repo --name="Minimal" --baseurl=file:///run/install/sources/mount-0000-cdrom/Minimal

%packages
@^minimal-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='fr (oss)'
# System language
lang fr_FR.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --activate
network  --hostname=template

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable
reboot 

ignoredisk --only-use=vda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone Europe/Paris --isUtc

# Root password
rootpw --iscrypted $6$78/Tm2IEpwIic/ho$onONj.UKmEWQoAHuwb/IfwJ.TWPINg5dcV/OnKMmo1V1O9MUKWqABRFnTpFkJqwucYpqG5exE6jrNDJrZl2hz1
sshkey --username=root "AAAAC3NzaC1lZDI1NTE5AAAAIOjUeSmS9CcKb4KNPo11KX31IAfIpAvymSfNM2SNvQ2S"


%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
